header > div.has-background {
    background-color: #ff2f00 !important;
}

body{
    background-color: rgb(226, 79, 11);
    color: rgb(232, 232, 232) !important;
}

h1, h2, h3, p {
    color: rgb(255, 255, 255);
}

.wp-block-quote.has-background.is-layout-flow.wp-block-quote-is-layout-flow {
    background-color: white !important; 
    border: 4px solid rgb(62, 62, 62) !important;
    font-size: 1.5rem !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

div > .wp-block-post-author-name a {
    color: rgb(9, 144, 248) !important;
}

.taxonomy-post_tag > a{
    width: 6rem;
    background-color:rgb(9, 144, 248) ;
    text-align: center;
    margin: auto;
}

.wp-block-table{
    color: rgb(0, 0, 0) ;
    font-size: medium;
}

.wp-block-gutena-form-field {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.wp-block-button__link {
    width: 20rem;
    margin: auto;
    justify-content: center;
}

.wp-block-buttons {
    justify-content: center;
}


.wp-block-post-featured-image{
    width:100px;
    height:auto;
    object-fit: contain;
}

.entry-content>.wp-block-image {
display: flex;
justify-content: center; /* Centers the entire image block horizontally */
align-items: center; 
}

.wp-block-image > figure{
    justify-content: center;
    align-items: center;
}
