header > div.has-background {
    background-color: #ff2f00 !important;
}

body{
    background-color: rgb(226, 79, 11);
    color: rgb(232, 232, 232) !important;
}

h1, h2, h3, p {
    color: rgb(255, 255, 255);
}

.wp-block-quote.has-background.is-layout-flow.wp-block-quote-is-layout-flow {
    background-color: white !important; 
    border: 2px solid rgb(62, 62, 62) !important;
    font-size: 25px !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
